<template>
    <ContactList endpoint="/api/birthdays"/>
</template>

<script>
    import ContactList from '../components/ContactList'
    export default {
        name: "ContactsIndex",
        components: {
            ContactList
        }
    }
</script>

<style scoped>

</style>
