<template>
    <div>
        <div v-if="loading">loading...</div>
        <div v-else>
            <div class="flex justify-between">
                <a class="text-blue-400" @click="$router.back()">
                    < Back
                </a>
                <div class="relative">
                    <router-link
                        class="px-4 py-2 rounded text-sm font-bold text-green-500 border border-green-500 mr-2"
                        :to="'/contacts/' + contact.contact_id + '/edit' ">
                        Edit
                    </router-link>
                    <a
                        href="#"
                        @click="modal = !modal"
                       class="px-4 py-2 rounded text-sm font-bold text-red-500 border border-red-500">
                        Delete
                    </a>
                    <div v-if="modal" class="absolute bg-blue-900 text-white rounded-lg z-20 p-8 w-64 right-0 mt-2 mr-6">
                        <p>Are you sure you want to delete this record?</p>
                        <div class="flex items-center mt-6 justify-end">
                            <button class="text-white py-4 mr-2" @click="modal = !modal">Cancel</button>
                            <button class="px-4 py-2 bg-red-500 rounded text-sm font-bold text-white" @click="destroy">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
                <div
                    v-if="modal"
                    @click="modal = !modal"
                    class="bg-black opacity-25 absolute right-0 top-0 bottom-0 left-0 z-10"></div>
            </div>

            <div class="flex items-center pt-6">
                <UserCircle :name="contact.name"/>
                <p class="pl-5 text-xl">{{ contact.name }}</p>
            </div>

            <p class="pt-6 text-gray-500 uppercase text-sm font-bold">Contact</p>
            <p class="pt-2 text-blue-400">{{ contact.email }}</p>


            <p class="pt-6 text-gray-500 uppercase text-sm font-bold">Company</p>
            <p class="pt-2 text-blue-400">{{ contact.company }}</p>


            <p class="pt-6 text-gray-500 uppercase text-sm font-bold">Birthday</p>
            <p class="pt-2 text-blue-400">{{ contact.birthday }}</p>
        </div>
    </div>
</template>

<script>
    import UserCircle from '../components/UserCircle'
    export default {
        name: "ContactShow",

        mounted() {
           axios.get('/api/contacts/' + this.$route.params.id)
               .then(res => {
                    this.contact = res.data.data;
                    this.loading = false
               })
               .catch(error => {
                   this.loading = false;
                   if (error.response.status === 404) {
                       this.$router.push('/contacts');
                   }
               })
        },
        data () {
            return {
                loading: true,
                modal: false,
                contact: null
            }
        },
        methods: {
            destroy() {
                axios.delete('/api/contacts/' + this.$route.params.id)
                    .then(res => {
                        this.$router.push('/contacts');
                    })
                    .catch(errors => {
                        alert('Internal Error. Unable to delete contact.');
                    })
            }
        },
        components: {
            UserCircle
        }
    }
</script>

<style scoped>

</style>
