<template>
    <div class="relative pb-4">
        <label :for="name" class="text-blue-500 uppercase text-xs font-bold pt-2 absolute">{{label}}</label>
        <input
            type="text"
            :id="name"
            class="pt-8 w-full border-b pb-2 focus:outline-none focus:border-blue-400 text-gray-900"
            :placeholder="placeholder"
            :class="errorClassObject()"
            v-model="value"
            @input="updateField()"/>

        <p class="text-red-600 text-xs" v-text="errorMessage()"></p>

    </div>
</template>

<script>
    export default {
        name: "InputField",
        props: [
            'name', 'label', 'placeholder', 'errors', 'data'
        ],
        data () {
            return {
                value: ''
            }
        },
        computed: {
            hasError() {
                return this.errors && this.errors[this.name] && this.errors[this.name].length > 0;
            }
        },
        methods: {
            updateField () {
                this.clearErrors();
                this.$emit('update:field', this.value)
            },
            errorMessage() {
                if ( this.hasError) {
                    return this.errors[this.name][0];
                }
            },
            clearErrors() {
                if ( this.hasError) {
                    this.errors[this.name] = null;
                }
            },
            errorClassObject() {
                return {
                    'error-field': this.hasError
                }
            }
        },
        watch: {
            data(val) {
                this.value = val;
            }
        }
    }
</script>

<style scoped>
    .error-field {
       @apply .border-red-500 .border-b-2
    }
</style>
